<h1>Pages#pin</h1>

<br>
<!-- 
	<button type="button" class="btn btn-primary" id="primary">Pin Entry Happens Here</button>
 -->

<script type="text/javascript">
	const button = document.getElementById('primary');

button.addEventListener('click', event => {
  window.location.href = "summary";
});
</script>


<form action="summary"> <input type="password" name="password" id="password" maxlength="6"> 
	<br>
	<label for="password" placeholder="Type a fake password here"></label> <br><input type="submit" value="Submit" class="btn btn-primary">

<br>
<br>
<p>Find me in app/views/pages/pin.html.erb</p>

	<!-- <script type="text/javascript">
	const button = document.getElementById('primary');

button.addEventListener('click', event => {
  window.location.href = "summary";
});
</script> -->

 </form>

